.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 5rem;

  div {
    padding: 0;
    margin: 0;

    &:first-child {
      background-color: transparent;

      > svg {
        fill: bright-yellow;
        transition: all 0.3s ease-in-out;
      }
    }

    div {
      margin: 0;
      padding-right: 1rem;
      padding-left: 0;
    }
  }
}
