.container {
    padding: 1rem 2rem;
    height: 95vh;

    h1 {
        font-family: open sans;
        font-size: 3rem;
        font-weight: 100;


    }

    .author {
        margin-top: 5rem;

        .section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                height: 10rem;
                border-radius: 50%;
                box-shadow: 2px .5rem 1rem rgba(0, 0, 0, .6);
            }

            .about {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;

                code {
                    background-color: rgb(203, 202, 209);
                    font-family: 'Courier New', Courier, monospace;
                    padding: .5rem 1rem;
                    letter-spacing: .1rem;
                }

                h1 {
                    font-family: open sans;

                    span {
                        font-weight: 700;
                    }
                }

                .blockcontent {
                    display: block;
                    text-align: justify;
                    width: 50%;

                    p {
                        font-size: 1.2rem;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        line-height: 1.5rem;
                    }

                }
            }
        }
    }
}