.container {
  

    &__author {
        display: flex;
        padding: 10px;
        margin: auto;
        position: relative;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 80%;
        
        .section {
            display: flex;
            background-color: #9ca8f1;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1.5rem;
            box-shadow: -5px 0  #5c6ac3;
            
            img {
                border-radius: 50%;
                width: 20rem;
                height: 20rem;               
            }

            .about {
                font-size: large;
                display: flex;
                flex-direction: column;
                justify-content: center;  

                .blockcontent {
                   
                    em {
                        letter-spacing: .12rem;
                        word-spacing: .5rem;
                    }

                    code {
                        border: 1px solid black;
                        background-color: hsl(253, 11%, 15%);
                        color: white;
                        font-size: large;
                        padding: .2rem;
                        font-family: monospace;                                           
                    }

                   em {
                       position: relative;
                       &:before {
                           content: "'";
                           top: 0;
                           left: -.5rem;
                           position: absolute;
                       }

                       &:after {
                        content: "'";
                        top: 0;
                        right: -.5rem;
                        position: absolute;
                       }
                   }

                    


                }
                              
            }
        }
    }
}