@import "../sass/abstracts/mixins";

.footer {
	height: 5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	border-top: 1px solid black;
	margin-top: 2.5rem;

	h1 {
		margin-left: 1rem;
		font-family: monospace;
	}

	.icons {
		margin-right: 1rem;

		.sm-icons {
			margin-right: 1.5rem;
		}
	}

	@include respond(phone) {
		width: 600px;
	}
}
