@import "../sass/abstracts/mixins";

.footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	border-top: 1px solid black;
	margin-top: 2.5rem;
	height: 5rem;

	h1 {
		margin-left: 1rem;
		font-family: monospace;
	}

	@include respond(belowphone) {
		justify-content: center;
		flex-direction: column;
		h1 {
			justify-self: center;
			margin: 0;
		}
	}

	.icons {
		@include respond(phone) {
			margin: 0;
		}

		margin-right: 1rem;

		.sm-icons {
			margin-right: 1.5rem;

			@include respond(belowphone) {
				margin: 0.5rem;
				width: 100%;
			}
		}
	}
}
