@import "../sass/abstracts/mixins";

.container {
    width: 100%;
    background-color: none;
    font-family: monospace;

    &__header {

        height: 100%;

        &-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;

            .logo {
                padding: 1rem 2rem;
                text-decoration: none;

                h1 {
                    padding: 0 0.5rem 0 0.5rem;
                    font-size: 1.5rem;

                }

                &--active {}

                &:active {
                    color: black;
                }

                &:visited {
                    color: black;
                }
            }

            .menu {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .navlink {
                    padding: 1rem 2rem;
                    text-decoration: none;
                    position: relative;

                    &:hover {}

                    &--active {
                        background-color: red;
                        border-radius: 10px;
                    }

                    &:last-child {
                        margin-right: 1rem;
                    }

                    &:active {
                        color: black;
                    }

                    &:visited {
                        color: black;
                    }



                }

            }

            @include respond(phone) {
                justify-content: space-between;
                flex-wrap: nowrap;

                .logo {
                    h1 {
                        font-size: 2.5rem;
                    }
                }
            }


        }

    }


}