@import "../sass/abstracts/mixins";

.container {
    width: 100%;
    background-color: none;
    font-family: monospace;

    &__header {

        height: 100%;

        &-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;

            .logo {
                padding: 1rem 2rem;
                text-decoration: none;

                h1 {
                    padding: 0 0.5rem 0 0.5rem;
                    font-size: 1.5rem;

                }

                &--active {}

                &:active {
                    color: black;
                }

                &:visited {
                    color: black;
                }
            }

            .menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                padding: 1rem 2rem;


                .navlink {
                    padding: .5rem 1.5rem;
                    text-decoration: none;
                    position: relative;



                    &:hover::after {
                        transform: scaleY(1);
                        transform-origin: bottom;
                        width: 100%;
                        height: 100%;
                        transition: transform 0.25s ease-in-out;
                        z-index: -1;


                    }

                    &:after {
                        position: absolute;
                        content: "";
                        bottom: 0;
                        text-decoration: none;
                        left: 0;
                        height: 0;
                        width: 100%;
                        background: #ff1500bd;
                        transition: transform 0.25s ease-in-out;
                        transform: scaleY(0);

                    }

                    &:active {
                        color: black;
                    }

                    &:visited {
                        color: black;
                    }



                }

                .navlink-active {
                    position: relative;
                    transition: all .25 ease-in-out;


                    &:after {
                        position: absolute;
                        content: "";
                        bottom: 0;
                        text-decoration: none;
                        transform: scaleX(1);
                        transform-origin: center;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #ff1500bd;
                        z-index: -1;
                    }
                }

            }

            @include respond(phone) {
                justify-content: space-between;
                flex-wrap: nowrap;

                .logo {
                    h1 {
                        font-size: 2.5rem;
                    }
                }
            }


        }

    }


}