@import "../sass/abstracts/mixins";

.container {
	width: 100%;
	background-color: none;
	font-family: monospace;
	padding: 0.5rem 1rem;
	box-sizing: border-box;

	&__header {
		&-nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;

			.navlink {
				&:active {
					color: black;
				}

				&:visited {
					color: black;
				}
			}

			a {
				&:active {
					color: black;
				}

				&:visited {
					color: black;
				}
			}

			.logo {
				text-decoration: none;

				h1 {
					font-size: 3.5rem;
				}
			}

			.menu {
				display: flex;
				justify-content: space-between;
				align-items: center;
				box-sizing: border-box;

				a {
					&:active {
						color: black;
					}

					&:visited {
						color: black;
					}
				}

				.navlink {
					text-decoration: none;
					position: relative;
					margin-right: 1.5rem;
					height: 1rem;
					width: 100%;
					padding: 0.8rem;
					font-size: 1.5rem;
					line-height: 1rem;
					text-align: center;

					&:last-child {
						margin-right: 0;
					}

					&:hover::after {
						transform: scaleY(1);
						width: 100%;
						height: 100%;
						z-index: -1;
					}

					&:after {
						position: absolute;
						content: "";
						bottom: 0;
						text-decoration: none;
						left: 0;
						height: 0;
						width: 100%;
						background: #ff1500bd;
						transition: transform 0.15s ease-in-out;
						transform: scaleY(0);
					}

					&:active {
						color: black;
					}

					&:visited {
						color: black;
					}
				}

				.navlink-active {
					position: relative;
					transition: all 0.25 ease-in-out;

					&:after {
						position: absolute;
						content: "";
						bottom: 0;
						text-decoration: none;
						transform: scaleX(1);
						transform-origin: center;
						left: 0;
						width: 100%;
						height: 100%;
						background: #ff1500bd;
						z-index: -1;
					}
				}
			}

			@include respond(phone) {
				justify-content: center;
				flex-direction: column;

				.logo {
					h1 {
					}
				}
			}

			@include respond(tab-port) {
				justify-content: center;
				flex-direction: column;

				.logo {
					h1 {
					}
				}
			}
		}
	}

	@include respond(belowphone) {
		.logo {
			width: 100%;
			h1 {
				text-align: center;
				font-size: 4rem;
			}
		}
	}

	@include respond(phone) {
		width: 100%;
	}
}

// @include respond(tab-port) {}

// @include respond(tab-land) {}

// @include respond(big-desktop) {}
