@import "../sass/base/base.scss";

:root {
    --background: white;
    --text-primary: black;
    --text-secondary: #1a073b;
    --accent: royalblue;
}

// [data-theme="dark"] {
//     --background: #342b2d;
//     --text-primary: #fff;
//     --text-secondary: lightgrey;
//     --accent: #ff0266;
// }
html {
    --background: white;
    --text-primary: black;
    --text-secondary: #1a073b;
    --accent: royalblue;
}

@media (prefers-color-scheme: dark) {
    html.dark {
        /* here's where we change the variable values for dark mode */
        --background: #342b2d;
        --text-primary: #fff;
        --text-secondary: lightgrey;
        --accent: #ff0266;
    }
}

html.dark {
    /* here's where we change the variable values for dark mode */
    --background: #342b2d;
    --text-primary: #fff;
    --text-secondary: lightgrey;
    --accent: #ff0266;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
