@import "../sass/base/base.scss";

:root {
  --background: white;
  --text-primary: black;
  --text-secondary: #1a073b;
  --accent: royalblue;
}

html {
  --background: white;
  --text-primary: black;
  --text-secondary: #1a073b;
  --accent: royalblue;
}

html.dark {
  --background: #342b2d;
  --text-primary: #fff;
  --text-secondary: lightgrey;
  --accent: #ff0266;
}

html,
body {
  padding: 0;
  margin: 0;
  border: 8px solid var(--accent);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
