.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.heroContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		padding: 60px 20px;

		h1 {
			text-align: justify;
		}
	}

	.imageContainer {
		margin: 0 auto;

		.image {
			object-fit: cover;
		}
	}

	.aboutContainer {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-start;
		margin: 0 auto;
		padding: 60px 20px;

		h3 {
		}

		p {
			line-height: 1.7rem;
			font-family: Montseratt, sans-serif;
		}
		h4 {
		}

		.skills {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;

			svg {
				height: 3rem;
				margin: 0.4rem 0.4rem 0 0;
			}
		}
	}
}
